<ion-card *ngIf="climaData && climaData.current" class="premium-card">
  <ion-card-header class="card-header-premium">
    <div class="header-content">
      <div class="title-container">
        <ion-card-subtitle>{{ pais }}</ion-card-subtitle>
        <ion-card-title>{{ capital }}</ion-card-title>
      </div>
      <div class="flag-container" *ngIf="banderaUrl">
        <img [src]="banderaUrl" [alt]="'Bandera de ' + pais" class="country-flag" />
      </div>
    </div>
  </ion-card-header>
  
  <ion-card-content>
    <p><strong>Condición meteorológica:</strong> {{ getWeatherDescription(climaData.current.weather_code) }}</p>
    <p><strong>Temperatura:</strong> {{ climaData.current.temperature_2m }} °C</p>
    <p><strong>Sensación térmica:</strong> {{ climaData.current.apparent_temperature }} °C</p>
    <p><strong>Humedad:</strong> {{ climaData.current.relative_humidity_2m }} %</p>
    <p><strong>Velocidad del viento:</strong> {{ climaData.current.wind_speed_10m }} km/h</p>
    
    <p><strong>Fecha y hora de la medición:</strong> <br> {{ climaData.current.time | date:'medium' }}</p>
  </ion-card-content>
</ion-card>